openapi: 3.0.3
info:
  title: Odin auth Apis
  contact:
    email: dan.chen@boardware.com
  version: 1.0.6
# servers:
#   - url: https://petstore3.swagger.io/api/v3
tags:
  - name: statistics
paths:
  /statistics/device/availability:
    get:
      tags:
        - statistics
      summary: Get device availability
      description: Get device availability
      operationId: getDeviceAvailability
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAvailability'
  /statistics/device:
    get:
      tags:
        - statistics
      summary: Get device statistics
      description: Get device statistics
      operationId: getDeviceStatistics
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceInfoList'
  /statistics/inventories:
    get:
      tags:
        - statistics
      summary: Get inventory statistics
      description: Get inventory statistics
      operationId: getInventoryStatistics
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemList'
  /statistics/alarms:
    get:
      tags:
        - statistics
      operationId: getProjectAlarms
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        "200":
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmInfoList'
  /statistics/alarms/trends:
    get:
      tags:
        - statistics
      operationId: getProjectAlarmTrends
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        "200":
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmsTrends'
  /statistics/billing:
    get:
      tags:
        - statistics
      operationId: getBillingStatistics
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        "200":
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bills'
components:
  schemas:
    ErrorMessage:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
    DeviceCosts:
      type: object
      properties:
        name:
          type: string
        costs:
          type: number
          format: double
    Bills:
      type: object
      properties:
        topFiveDevices:
          type: array
          items:
            $ref: '#/components/schemas/DeviceCosts'
        trend:
          type: array
          items:
            type: number
            format: double
    AlarmsTrends:
      type: object
      properties:
        sla1:
          type: integer
          format: int64
        sla2:
          type: integer
          format: int64
        sla3:
          type: integer
          format: int64
        sla4:
          type: integer
          format: int64
        trend:
          type: array
          items:
            type: integer
            format: int64
    AlarmInfo:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        sla:
          type: string
        triggerTime:
          type: string
    AlarmInfoList:
      type: array
      items:
        $ref: '#/components/schemas/AlarmInfo'
    InventoryItem:
      type: object
      properties:
        name:
          type: string
        value:
          type: integer
    InventoryItemList:
      type: array
      items:
        $ref: '#/components/schemas/InventoryItem'
    DeviceInfoList:
      type: array
      items:
        $ref: '#/components/schemas/DeviceInfo'
    DeviceInfo:
      type: object
      properties:
        id:
          type: string
        deviceName:
          type: string
        deviceType:
          type: string
        status:
          type: integer
          format: int64
        location:
          type: integer
          format: int64
        brand:
          type: string
        projectName:
          type: string
        totalDownTime:
          type: integer
          format: int64
    DeviceAvailability:
      type: object
      properties:
        up:
          type: integer
          format: int64
        down:
          type: integer
          format: int64
        availability:
          type: number
          format: double
        totalDownTime:
          type: integer
          format: int64
      required:
        - up
        - down
        - availability
        - totalDownTime
    
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
    tenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
    projectId:
      name: projectId
      in: query
      required: true
      schema:
        type: string